<!doctype html>
<html lang="pt-BR">

  <head>
    <meta charset="utf-8">
    <title>Uhoh, página não encontrada (404)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AUhoh, página não encontrada (404)">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167108513-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167108513-1');
    </script>
        <script type="text/javascript" src="//cloudfront.loggly.com/js/loggly.tracker-latest.min.js" async></script>
        <script>
            var _LTracker = _LTracker || [];
            _LTracker.push({'logglyKey': 'ec11fec0-9c6f-4166-9313-1535c21fc422',
            'sendConsoleErrors' : true,
            'tag' : 'loggly-jslogger' });
            _LTracker.push('404' + ' | Referrer: ' +  document.referrer);
        </script>
  </head>

  <body>

    <div class="navbar-container">
    </div>
    <div class="main-container">
      <section class="height-100 bg-dark">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <i class="icon-compass display-4"></i>
              <h1 class="h2">Uhoh, página não encontrada (404)</h1>
              <span>A página solicitada não se encontra neste servidor. <a href="/" class="text-white"><h3>Clique aqui e vá para o nosso site.</h3></a> <br> <a href="mailto:sp_augusto@msn.com?subject=404%20SPIRA%20Convid-" class="text-white">Clique aqui e entre em contato</a> se desejar reportar algum erro.</span>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
      </section>

    </div>

    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="assets/js/prism.js"></script>
    <script type="text/javascript" src="assets/js/zoom.min.js"></script>

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>

  </body>

</html>
