{% extends "template.html" %}
{% block title %}Estudo SPIRA: Obrigado pela sua participação{% endblock %}
{% block head %}
    {{ super () }}
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.csss" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/social.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block body %}

 
  <body>

     <!-- deleted above -->

    <div class="main-container">
      <section class="bg-white">
        <div class="container">
          <div class="row justify-content-around align-items-center">
            <div class="col-8 col-md-7 col-lg-6 order-md-2 mb-5 mb-md-0">
              <img alt="Image" src="assets/images/corona.jpg" class="w-100" />
            </div>
            <!--end of col-->
            <div class="col-12 col-md-6 col-lg-5 order-md-1" style="text-align: center;">
              <h1 class="display-5">SPIRA: Estudo na Triagem de Pacientes da COVID-19.</h1>
              <span class="lead">
                 <strong>SPIRA:</strong> <strong>S</strong>istema de detecção <strong>P</strong>recoce de <strong>I</strong>nsuficiência 
                  <strong>R</strong>espiratória por meio de análise de <strong>Á</strong>udio.
              </span>
              <div class="mb-4">
                <span class="text-muted text-small">Este é um estudo 100% anônimo. <h2>Obrigado por ter participado!</h2><h1>Ajude-nos, compartilhe:</h1></span>
              </div>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fspira.ime.usp.br%2Fcoleta%2F&amp;src=sdkpreparse" target="_blank" class="btn btn-lg btn-social fa fa-facebook">Facebook</a>
                <a href="https://twitter.com/share?text=Projeto%20Spira&url=https://spira.ime.usp.br/coleta/" target="_blank" class="btn btn-lg btn-social fa fa-twitter">Twitter</a> 
                <a href="whatsapp://send?text=https://spira.ime.usp.br/coleta/" data-action="share/whatsapp/share" class="btn btn-lg btn btn-social fa fa-whatsapp">Whatsapp</a>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
      
      <section class="bg-white flush-with-above">
        <div class="container">
          <ul class="feature-list feature-list-lg">
            <li class="row justify-content-around align-items-center">
              <div class="col-9 col-md-6 col-lg-5">
                <img alt="Image" src="assets/img/graphic-woman-writing.svg" class="img-fluid rounded" />
              </div>
              <!--end of col-->
              <div class="col-12 col-md-6 col-lg-5">
                <h5>Termos da sua participação:</h5>
                <p>
                    <ul>
                        <li>Você está sendo convidado a participar de um estudo para desenvolver um método automático para detectar pessoas que possam evoluir com problemas respiratórios.
                        </li>
                        <li>Caso você concorde iremos pedir para que você grave uma ou mais  frases pelo computador.</li>
                        <li>Os dados de sua voz serão analisados por pesquisadores da Universidade de São Paulo de forma anônima.</li>
                        <li>Nenhum dado pessoal seu será incluído em nenhum documento do estudo.</li>   
                    </ul> 
                </p>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fspira.ime.usp.br%2Fcoleta%2F&amp;src=sdkpreparse" target="_blank" class="btn btn-lg btn-social fa fa-facebook">Facebook</a>
                <a href="https://twitter.com/share?text=Projeto%20Spira&url=https://spira.ime.usp.br/coleta/" target="_blank" class="btn btn-lg btn-social fa fa-twitter">Twitter</a> 
                <a href="whatsapp://send?text=https://spira.ime.usp.br/coleta/" data-action="share/whatsapp/share" class="btn btn-lg btn btn-social fa fa-whatsapp">Whatsapp</a>
            </div>
              <!--end of col-->
            </li>

          </ul>
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
      
      <section class="space-lg">
        <div class="container">       <div class="row">
          <div class="col">
              <h5 class="text-center mb-4">Uma colaboração:</h5>
              <div class="colab-logos">
                  <div><img src="assets/images/logo1.png" alt=""></div>
                  <div><img src="assets/images/logo2.png" alt=""></div>
                  <div><img src="assets/images/logo3.png" alt=""></div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <h5 class="text-center mb-6">Com apoio:</h5>
              <div class="colab-logos">
                  <div><img src="assets/images/proreitoriausp.png" alt=""></div>
                  <div><img src="assets/images/nvidiapb.png" alt=""></div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <h5 class="text-center mb-8">Responsáveis:</h5>
              <div class="colab-logos">
                      <p>
                          Marcelo Finger (Coordenador), DCC-IME-USP<br>
                          Anna Sara Levin Shafferman (Co-responsável, área médica), FMUSP<br>
                          Ester Cerdeira Sabino (Co-responsável, área médica), FMUSP<br>
                      </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <h5 class="text-center mb-8">Pesquisadores:</h5>
              <div class="colab-logos">
                      <p>
                          Marcelo Gomes de Queiroz, DCC-IME-USP<br>
                          Sandra Maria Aluísio, ICMC-USP<br>
                          Arnaldo Cândido Júnior, ICMC-USP e UTFPR<br>
                          Flaviane R. Fernandes Svartman, FFLCH-USP (Linguística)<br>
                          Alfredo Goldman, DCC-IME-USP<br>

                      </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <h5 class="text-center mb-8">Alunos:</h5>
              <div class="colab-logos">
                      <p>
                          Murilo Gazzola, ICMC-USP e HIAE<BR>
                          Augusto Cesar de Camargo, DCC-IME-USP<BR>
                          Renato Cordeiro, DCC-IME-USP<BR>
                          Thatiane Rosa, DCC-IME-USP<BR>
                          Pedro Leyton Pereira, DCC-IME-USP<BR>
                      </p>
              </div>
          </div>
      </div>
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->

    {% endblock %}