<html lang="pt"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/pbootstrap_skin.css">

    <title>Research Proposal SPIRA Study</title>
    <body>
        <div class="content">
            <div class="container-fluid-adjusted">
                <div class="hero">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="text-block">
                                    <h5>Estudo</h5>
                                    <h1><span>spira</span>
                                        <img src="assets/images/spira.svg" alt="spira">
                                    </h1>
                                    <p>Doe sua voz e ajude no diagnóstico da Covid-19</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container block">
                    <div class="content-instruction">
                        <span class="mb-5 mt-5">[Portuguese version below / Versão em Português abaixo]</span>
                        <p>The SPIRA Project (aiming at developing a system for early detection of respiratory insufficiency
                            based on audio analysis), hosted by the University of São Paulo, Brazil and funded by the São Paulo
                            Research Foundation (FAPESP), is offering a post-doctoral fellowship for recent PhDs with
                            outstanding research potential for the development of research activities in the interdisciplinary field
                            between Artificial Intelligence, Signal Processing and Medicine.
                        </p>
                        <p>The research will involve collaborations with groups and laboratories associated to the SPIRA Project.
                            The research to be developed by the post-doc fellow shall be strictly related to ongoing research lines
                            developed by the SPIRA teams. The project is based at the main USP campus (São Paulo).
                        </p>
                        <span>We seek candidates capable to develop independent research in at least one of the research lines below:
                        </span>
                        <div>
                            <ul class="list-style-none">
                                <li>- Machine learning and deep learning models;</li>
                                <li>- Acoustic and speech signal processing.</li>
                            </ul>
                        </div>
                        <p>Candidates to the first research line are expected to have received their PhD degrees recently and are
                            required to have a strong background in Artificial Intelligence and experience in the practical
                            application of deep learning models in classification problems involving big data.
                        </p>
                        <p>Candidates to the first research line are expected to have received their PhD degrees recently and are
                            required to have a strong background in the theory of Signal Processing and experience in the
                            extraction and analysis of acoustic features and classification of acoustic and speech signals.
                        </p>
                        <p>Previous experience with multidisciplinary research teams is welcome for all the above research lines.
                        </p>
                        <p>This opportunity is open to candidates of any nationality. The fellowship is competitive at international
                            level, and fellows benefit from extra funds for travel and research expenses plus limited support for
                            relocation expenses. The selected candidate will be awarded a FAPESP Post-Doctoral fellowship in the
                            amount of R$ 7,373.10 monthly plus a research contingency fund, equivalent to 15% of the annual
                            value of the fellowship, which should be spent in items directly related to the research activity. The
                            initial period of the position lasts for 12 months, with possible renovations for one more year. For
                            further information on FAPESP post-doctoral fellowships, please refer to <a href="https://fapesp.br/en/postdoc">https://fapesp.br/en/postdoc</a>. Special
                            attention is requested to Items 6 and 7 (Candidate’s requirements and obligations).
                        </p>
                        <span class="mt-5"><strong>Application Instructions:</strong></span>
                        <p>Instruction of applicants are available at <a href="https://spira.ime.usp.br/coleta/postdoc">spira.ime.usp.br/postdoc.</a> ACandidates are encouraged to apply
                            at their earliest convenience until October 31st, 2020. Appointments are expected to start by January
                            2nd, 2021. The following documents and information are requested (please refer to the page above
                            further details):
                        </p>
                        <div>
                            <ul>
                                <li>Summary of the CV, in the FAPESP format (see <a href="https://fapesp.br/en/6351/instructions-for-the-elaboration-of-a-curricular-summary"> www.fapesp.br/en/6351</a> for instructions);</li>
                                <li>List of publications, with links to those available online;</li>
                                <li>A summary of the research plan for the next year, up to 5 pages length. It should explicitly state
                                    for which of the above profiles the candidate is applying. It should also address its place within
                                    the framework of the SPIRA Project (<a href="http://spira.ime.usp.br/description">spira.ime.usp.br/description</a>).
                                </li>
                                <li>Pointers to other research related output, such as software, web pages, and so forth. Candidates
                                    should be willing to send copies of publications, if requested;
                                </li>
                                <li>Any further information deemed relevant to the application.</li>
                            </ul>
                        </div>
                        <p>In addition to the above, we require at least 2 recommendation letters, which should be mailed by the
                            recommenders directly to mfinger@ime.usp.br.
                        </p>
                    </div>

                    <div class="content-instruction">
                        <span class="mb-5 mt-5">[Portuguese version below / Versão em Português abaixo]</span>
                        <p>O Estudo SPIRA (Sistema de detecção Precoce de Insuficiência Respiratória por meio de análise de
                            Áudio), sediado na Universidade de São Paulo e financiado pela Fundação de Amparo à Pesquisa do
                            Estado de São Paulo (FAPESP), oferece uma bolsa de pós-doutorado para recém-doutores com
                            destacado potencial de pesquisa para desenvolvimento de atividades de pesquisa na área de interface
                            entre Inteligência Artificial, Processamento de Sinais e Medicina.
                        </p>
                        <p>A pesquisa envolverá colaborações com grupos e laboratórios associados ao Estudo SPIRA. A pesquisa
                            a ser desenvolvida pelo bolsista de pós-doutorado deve estar estritamente relacionada às linhas de
                            pesquisa em andamento desenvolvidas pelas equipes do SPIRA. O projeto está sediado no campus da
                            USP de São Paulo.
                        </p>
                        <span>Os candidatos devem ser capazes de realizar pesquisas independentes em uma das linhas de pesquisa
                            abaixo:
                        </span>
                        <div>
                            <ul class="list-style-none">
                                <li>- Aprendizado de máquina e modelos de aprendizado profundo;</li>
                                <li>- Processamento de sinais acústicos e de fala.</li>
                            </ul>
                        </div>
                        <p>Os candidatos à primeira linha de pesquisa devem ser recém-doutores com excelente potencial de
                            pesquisa e com formação sólida em Inteligência Artificial e experiência na aplicação prática de
                            modelos de aprendizado profundo em problemas de classificação no contexto de big data.
                        </p>
                        <p>Os candidatos à segunda linha de pesquisa devem ser recém-doutores com excelente potencial de
                            pesquisa e com formação sólida na teoria de Processamento de Sinais e experiência em extração e
                            análise de características acústicas e classificação de sinais acústicos e de fala.
                        </p>
                        <p>A experiência anterior com equipes de pesquisa multidisciplinares é bem-vinda para as duas linhas de
                            pesquisa acima.
                        </p>
                        <p>A vaga está aberta a brasileiros e estrangeiros. Candidatos de fora de São Paulo poderão receber auxílio
                            para despesas de mudança e instalação. O valor atual da bolsa de pós-doutoramento da FAPESP é de
                            R$ 7.373,10, além de recursos adicionais de reserva técnica equivalente a 15% do valor anual da bolsa
                            para despesas associadas ao trabalho de pesquisa. A extensão inicial das bolsas é de 12 meses, com a
                            possibilidade de renovação por mais um ano. Para mais informações sobre as bolsas de Pós-Doutorado
                            FAPESP, por favor acesse <a href="http://fapesp.br/bolsas/pd">fapesp.br/bolsas/pd</a>. Pede-se especial atenção aos Itens 6.1 e 7.1 (Requisitos
                            do candidato para a solicitação e Condições e obrigações exigidas do bolsista).
                        </p>
                        <span class="mt-5"><strong>Inscrições:</strong></span>
                        <p>As instruções para a inscrição de candidatos podem ser encontradas nesta página
                            spira.ime.usp.br/postdoc. As inscrições estarão abertas até 31 de outubro de 2020. Os candidatos
                            selecionados iniciarão suas atividades em 2° de janeiro de 2021. Os seguintes documentos e
                            informações são solicitados (consulte a página de instruções para mais detalhes):
                        </p>
                        <div>
                            <ul>
                                <li>Súmula Curricular, em formato FAPESP (visite <a href="http://fapesp.br/sumula">fapesp.br/sumula</a> para instruções);</li>
                                <li>Lista de publicações, com links para as publicações disponíveis online;</li>
                                <li>Um resumo do plano de pesquisa, de até 5 páginas, indicando explicitamente em quais dos
                                    perfis acima o plano se encaixa, e discutindo detalhadamente como o plano se enquadra no
                                    projeto de pesquisa do Estudo SPIRA (<a href="http://spira.ime.usp.br/description">spira.ime.usp.br/description</a>).
                                </li>
                                <li>Informar outras pesquisas relacionadas, tais como software, páginas da web, etc. Os candidatos
                                    devem enviar cópias das publicações, caso seja solicitado;
                                </li>
                                <li>Informações adicionais consideradas relevantes para a inscrição.</li>
                            </ul>
                        </div>
                        <p>Além dos documentos relacionados, são exigidas ao menos duas cartas de recomendação, que devem
                            ser enviadas diretamente para mfinger@ime.usp.br.
                        </p>
                        <a href="assets/pdf/PosDocSPIRACall.pdf" class="mt-5">Download PDF</a>
                    </div>
                </div>
                
                
                <div class="banner">
                    <div class="container block">
                        <div class="row justify-content-center">
                            <div class="col col-auto">
                                <div class="text-block">
                                    <div class="br-1 pr-4 d-flex align-items-center"><img src="assets/images/spira.svg" alt="spira"></div>
                                    <div class="pt-5 pt-sm-0 pl-0 pl-sm-4">
                                        <div><b>S</b>istema de detecção </div>
                                        <div><b>P</b>recoce de </div>
                                        <div><b>I</b>nsuficiência </div>
                                        <div><b>R</b>espiratória por meio de análise de </div>
                                        <div><b>Á</b>udio</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        

    </body>
</html>