{% extends "template.html" %}
{% block title %}Estudo SPIRA: Doe sua voz e ajude no diagnóstico da Covid-19{% endblock %}
{% block head %}
    {{ super () }}
{% endblock %}
{% block body %}
<div class="hero">
    <div class="container">
        <div class="alert-wrapper">
            <div class="alert">
              <h1 style="color:white">Aumento da capacidade do site</h1>
              <div style="color:white">Em manutenção até as 01:00 de 28/maio/2020</div>
              <button class="btn" style="color:white">Aguarde...</button>
            </div>
          </div>
    </div>
</div>

<div class="colabs">
    <div class="container block">

    </div>
</div>
{% endblock %}